#**Print Statement.**#

In [ ]:
print("Here we are starting with python.")

print("Hello World!")
print("Python","is","an","interpreted",sep = "~",end = " Language")#sep is used to add a sign to seperate the words.

Here we are starting with python.
Hello World!
Python~is~an~interpreted Language

#**Variables**#

In [ ]:
a = 21 # here a & b are variables which store some type of values in it.
print(a)
b = 2.43
print(b)

21
2.43

#**Data types**#

Data types can be refered to as varibles which store different types of values in it.

In [ ]:
from os import get_blocking
#Typecheck
a = 23
b = 34.54
c = "Machine learning"
d = True
e = 4.5454545454545545454
f = [5,64,3,6,26,2]
g = ("jatin","gaurav","nanu","bhoomi","shanvi","pihu")
h = {23,43,5,6,55,98}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>

#**Calculator**#

In [ ]:
a = 12
b = 3
print("The addition of a & b are:",a+b)
print("The subtraction of a & b are:",a-b)
print("The multiplication of a & b are:",a*b)
print("The division of a & b are:",a/b)
print("The modulus of a & b are:",a%b)
print("The Floor division of a & b are:",a//b)

The addition of a & b are: 15
The subtraction of a & b are: 9
The multiplication of a & b are: 36
The division of a & b are: 4.0
The modulus of a & b are: 0
The Floor division of a & b are: 4

##**Type Conversion**##

In [ ]:
a = 18
print(a)
print(float(a))

18
18.0

#**Escape Sequence**#

In [ ]:
print("This is google colab") #here we are printing this sentence in one line.

print("This is google \ncolab") #here we are printing similar sentence in two diff lines using escape sequence.

print("This is google \tcolab") #here we are printing similar sentence by providing space using \t seq.

print("This is google \bcolab") #here we are printing similar sentence by del the space btw google and colab using \b sequence.

print("This is google \\colab") #here we are printing similar sentence by del the space btw google and colab using \b sequence.

print("This is google \"colab\"") #here we are printing similar sentence by del the space btw google and colab using \b sequence.

This is google colab
This is google
colab
This is google 	colab
This is google colab
This is google \colab
This is google "colab"

#**Control Statements**#

#**If else statement(Even odd)**#

In [ ]:
a =24
if(a%2==0):#Intendation should be kept in mind.
  print("a is an Even number.")
else:
  print("a is an Odd number.")

a is an Even number.

**Wap to check whether the number is greater than 50 or not and if greater then check whether it is even or not also check the same for odd number too.**

In [ ]:
# num = 55
# if num > 50 :
#   print("The number is greater than 50.")
# else:
#   print("The number is smaller than 50")
num = 55
if num>50:
   if num %2==0:
    print("The number is greater than 50 and is even.")
   else:
    print("The number is greater but not even.")
else:
   if num %2!=0:
    print("The number is less than 50 and is odd.")
   else:
    print("The number is less than 50 but not odd.")

The number is greater but not even.

In [ ]:
age = 34
if(age>=18):
  print("Candidate is eligible to vote.")
else:
  print("Candidate is not eligible to vote.")

Candidate is eligible to vote.

**Adding elif statement in this.**

In [ ]:
a = 34
b = 34
if(a > b):
  print("A is greater than B.")

elif(b>a):
  print("B is greater than A.") #This is used to create a ladder of if-else statement.

else:
  print("Both are equal to each other.")

Both are equal to each other.

#**Area of a cube**

In [ ]:
side = 25
area = side**2
print("The area of cube is:",area)

The area of cube is: 625

#**Taking input from user**#

In [ ]:
a = input("Enter the number:") #here,its considering input as string by default, to avoid this we have to
print(a) #typecast it by int datatype so as to make it int input.

b = a+'4'#Here,Concatenation is helding to this o/p.
print(b)

Enter the number:34
34
344

##**Project 1**##

In [ ]:
import time
time = time.strftime('%H:%M:%S')
print(time)

14:04:55

In [ ]:
a = int(input("Enter the number:")) #here,its considering input as string by default, to avoid this we have to
print(a) #typecast it by int datatype so as to make it int input.
b = a+4
print(b)

Enter the number:5
5
9

In [ ]:
a = int(input("Enter the num:"))
print(float(a)) #TYPE-CASTING

Enter the num:56
56.0

#**Swapping 2 numbers**#

In [ ]:
num1 = int(input("Enter First number:"))
num2 = int(input("Enter second number:"))
temp = num1
num1 = num2
num2 = temp
print("The value of num1 is :",num1)
print("The value of num2 is :",num2)

Enter First number:43
Enter second number:66
The value of num1 is : 66
The value of num2 is : 43

#**Now, we'll learn about Strings.**#

In [ ]:
n = "Hello Jatin"
print(n)
print("hello,"+n) #This is known as Concatenation.Where 2 strings are combined together.

Hello Jatin
hello,Hello Jatin

In [ ]:
lang = "cpp is an essential language for DSA."
for i in lang:
  print(i)

c
p
p

i
s

a
n

e
s
s
e
n
t
i
a
l

l
a
n
g
u
a
g
e

f
o
r

D
S
A
.

#**Some Operations on strings!**#

In [ ]:
a = "Machine"
b = "learning"
c = "python is an easy language!!!"
d = "Dsa Is The Foundational Subject\n"
e = "pandas is a library"
f = " "

print(len(a))
print(a.islower())#checks whether the string is in lower-case.
print(a.isupper())
print(a.upper()) #converts string into upper case
print(a.lower())

print(c.replace("python","C++")) #used to replace the string by the new one(modification).

print(b.capitalize()) #used to capitalize the first letter of the string.

print(c.split()) #Creates a list of the given string if spaces are available.
print(c.split()[-2]) #Creates a list of the given string if spaces are available.

print(c.count("a")) #counts the freq of the given args in a string.

print(c.rstrip("!")) #removes the character present at the end of string.(post only)

print(c.endswith("!")) #checks whether the sentence or string ends with the same input.

print(c.endswith("is",4,29)) #same function but checks using slicing.

print(c.endswith("!",4,29)) #same function but checks using slicing.

print(c.startswith("python"))#case-sensative (checks the starting string comparing to input value.)

print(c.startswith("C++"))

print(c.find("is"))#calculates the first occurance of the string and returns the index value where it is stored.

print(c.find("easy"))

print(b.isalnum())#checks whether the string is alphanumeric or not.

print(c.isalnum())#c is not alphanumeric as it contains spaces btw it.

print(b.isalpha()) #determines only alphabets(a-z) [Non case-sensative].

print(c.isprintable())#determines whether the string can be printed or not.
#i.e if any specifier would be present it'll be considered as non-printable.

print(d.isprintable())#is non printable due to the presence of specifier in it.

print(f.isspace()) #checks only n only the space, seems useless.

print(e.istitle())#determines whether the first letter of every word is capital or not.

print(d.istitle())# since d has each n every word has first letter capital it is considered to be True.

print(e.title()) #capitalize first letter of each word.

print(a.swapcase())
print(b.swapcase()) #these both is used to swap the case.If upper then its converted into lower nd vice-versa.

7
False
False
MACHINE
machine
C++ is an easy language!!!
Learning
['python', 'is', 'an', 'easy', 'language!!!']
easy
4
python is an easy language
True
False
True
True
False
7
13
True
False
True
True
False
True
False
True
Pandas Is A Library
mACHINE
LEARNING

##**Project 2: Building a Marksheet of 12th class Student.**##

In [ ]:
name = input("Enter the name of the student:")
mat = int(input("Enter the marks in Maths:"))
phy = int(input("Enter the marks in Physics:"))
chem = int(input("Enter the marks in Chemistry:"))
eng = int(input("Enter the marks in English:"))
PE = int(input("Enter the marks in Physical Education:"))
total = mat+phy+chem+eng+PE
percentage = total/5
if(percentage<=100 and percentage>=90):
 print(name, "scored",percentage," Grade and secured 1st Division.")
elif(percentage>=60 and percentage<=89):
   print(name, "scored",percentage," Grade and secured 1st Division.")
elif(percentage>=50 and percentage<=59):
   print(name, "scored",percentage," Grade and secured 2nd Division.")
else:
   print(name, "Failed in examination.")

Enter the name of the student:Chamarkant
Enter the marks in Maths:80
Enter the marks in Physics:67
Enter the marks in Chemistry:98
Enter the marks in English:56
Enter the marks in Physical Education:77
Chamarkant scored 75.6  Grade and secured 1st Division.

#**String Slicing**#

In [ ]:
a = "Artificial"
print(a[0:7])
print("The length of the string is:",len(a))

b = "Intelligence"

print("The length of b is:",len(b))

print(b[0:6])

print(b[5:11])

print(b[0:len(b)-3])

print(b[0:-3]) #same as abv (KNOWN AS NEGATIVE SLICING)

print(b[-4:-2],"\n\n") #11-4 = 7

print(b)
print(b[-4:-5]) #this will not print due to wrogn assignment of slicing

print(b[-4:-3]) #The 2nd no should always be smaller than the firstone.

Artific
The length of the string is: 10
The length of b is: 12
Intell
ligenc
Intellige
Intellige
en


Intelligence

e

#**Control Statements**#

There are 3 types of control statements
* Looping = These statements allow a program to execute a block of code repeatedly.
->For loop=This comprises of initialization,condition and then termination(increment/decrement).
->While loop=This comprises of the initialization beforehand and then condition termination at the last of loop.
->Do-While loop=This is used to execute the loop at least once.


* Switch Case

#**FOR LOOP.**#

In [ ]:
#FOR LOOP.
a = 5
for i in range(1,a+1):
  print(i)

In [ ]:
#Printing even num.
a = int(input("Enter the number:"))
for i in range(1,a+1):
  if(i%2==0):
    print(i)  #Intendation.

Enter the number:5
2
4

In [ ]:
#For odd numbers:
a = int(input("Enter the num:"))
for i in range(1,a+1):
  if(i%2==1):
   print(i)  #Intendation.

Enter the num:4
1
3

In [ ]:
#Printing numbers by jumping through addition of some specific number using third block of loop.
for i in range(1,20+1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

#**Table of any number.**#

In [ ]:
#printing table of any number.
n = int(input("Enter the number:"))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter the number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#**WAP to swap two numbers if the first number is greater than the second number.**#

In [ ]:
a = int (input ('Enter 1st number:'))
b = int (input ('Enter 1st number:'))
if(a>b):
  temp = a
  a = b
  b = temp
  print("The value of a is:",a)
  print("The value of b is:",b)

else:
  print("The value of a is:",a)
  print("The value of b is:",b)

Enter 1st number:98
Enter 1st number:78
The value of a is: 78
The value of b is: 98

#**Same values will have same memory location**#

In [ ]:
a = 2
b = 4
c = 343
d = 343
print(c==d)
print(a is not b)  #Need to ask about it later onn...
print(c is not d)
print(c is  d)

True
True
True
False

In [ ]:
a = 34
b = 33+1
print(a==b)
print(a is b)
print(hex(id(a)))  #Used for knowing memory location.
print(hex(id(b)))  #hexadecimal address

True
True
0x7d2b85060510
0x7d2b85060510

# Loop in strings

In [ ]:
a = "Python"
for i in a:
  print(i)
  if(i=='t'):
    continue

#**Prime number**#

In [ ]:
a = int(input("Enter the number:"))
for i in range(2,a):
  if(a%i==0):
    print("Not a Prime number")
    break
else:
  print("Prime Number")

Enter the number:4
Not a Prime number

#**Factorial**#

In [ ]:
a = int(input("Enter the number:"))
fact = 1
for i in range(1,a+1):
  fact = fact*i
print("The factorial of",a,"is",fact)

Enter the number:5
The factorial of 5 is 120

**While Factorial**

In [ ]:
n = int(input("Enter the number:"))
fact = 1
i = 1
while(i<=n):
  fact = fact*i
  i=i+1
print("The value of factorial",n,"is",fact)

Enter the number:5
The value of factorial 5 is 120

#**Sum of Natural numbers.**#

In [ ]:
from re import I
n= int(input("Enter the number till where you want the sum of natural no's:"))
sum = 0
for i in range(1,n+1):
  sum = sum+i
print("The sum of",n,"natural numbers are:",sum)

Enter the number till where you want the sum of natural no's:10
The sum of 10 natural numbers are: 55

#**Multiplying 2 no's nd decrementing them untill 0 arises.**#

In [ ]:
a = int(input("Enter the number:"))
b = int(input("Enter the number:"))
for i in range(a,1,-1):
  c = a*b
  print(a,'x',b,'=',c)
  a = a-1
  b = b-1

Enter the number:10
Enter the number:9
10 x 9 = 90
9 x 8 = 72
8 x 7 = 56
7 x 6 = 42
6 x 5 = 30
5 x 4 = 20
4 x 3 = 12
3 x 2 = 6
2 x 1 = 2

In [ ]:
i= 1
while True:
  print(i)
  i +=1
  if(i%50==0):
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
a = int(input("Enter the number:"))
b = int(input("Enter the number:"))
while(a and b>0):
  c = a*b
  print(a,'x',b,'=',c)
  a = a-1
  b = b-1

Enter the number:6
Enter the number:4
6 x 4 = 24
5 x 3 = 15
4 x 2 = 8
3 x 1 = 3

#**Prime number using while loop**#

In [ ]:
a = int(input("Enter the number:"))
i=2
while(i!=a):
  if(a%i==0):
    print("Not a prime number..")
    break
  else:
    print("Is a prime number.")
    break

Enter the number:4
Not a prime number..

#**Sum of natural numbers using while loop**#

In [ ]:
a = int(input("Enter the number:"))
i = 0
sum = 0
while(i!=a+1):
  sum = sum+i
  i += 1
print("The sum of",a,"natural no.s are",sum)

#**Factorial using while loop**#

In [ ]:
a = int(input("Enter the number:"))
fact = 1
i = 1
while(i<=a):
  fact = fact*i
  i+=1
print("The factorial of",a,"is",fact)

#**WAP to check which number is greater**#

In [ ]:
a = int(input("Enter the number a:"))
b = int(input("Enter the number b:"))
c = int(input("Enter the number c:"))

if(a > (b and c)):
  print("a is greatest number of all")
elif(b > (a and c)):
  print("b is greatest number of all")
else:
  print("c is greatest number of all")

##**Functions in Python**##

**using libraries**

In [ ]:
import pandas as pd
import numpy as np
a = [1,2,3,4,5,6,7,8,9,10]
print(type(a))
print(np.max(a))
print(np.sum(a))
print(np.min(a))

<class 'list'>
10
55
1

In [ ]:
def square(a):
  sq = a*a
  return sq
b = square(2)
print(b)

4

In [ ]:
def add(a,b): #function prototype!
  c = a + b
  print(c)     #function defination!

add(5,3)   #function call.

In [ ]:
def islesser(a,b):
  if(a<b):
    print(a,"a is lesser.")
  else:
    print(b,"b is lesser.")
islesser(4,45)

4 a is lesser.

In [ ]:
def isgreater(j,k):
  pass

def isgreater(j,k):
  if(j>k):
   print(j,"j is greater.")
  else:
   print(k,"k is greater.")
isgreater(45654,4343)

45654 j is greater.

In [ ]:
def avg(a,b):   #Here, we are taking only 2 args.
  print("The avg is:",(a+b)/2)
avg(49,3)

def average(a =2 , b =4 ):    #These are required args.
  print("The avg is:",(a+b)/2)
average(5,10)   #ALSO CALLED DEFAULT ARGS.
#The output here is of 15 as the modified value is considered.

The avg is: 26.0
The avg is: 7.5

In [ ]:
def avg(*num):#Here we can take multiple args nd accordingly it will ans the correct average of the given nums.
  sum = 0
  for i in num:
    sum = sum + i
    print("The avg is:",sum/len(num))
avg(4,3,12,1)

The avg is: 1.0
The avg is: 1.75
The avg is: 4.75
The avg is: 5.0

In [ ]:
#Keyword args
def name(fname,mname,lname):
 print(type(name))
 print("HELLO!",fname,mname,lname)
name(mname = "shivaji", lname = "Maharaj",fname="Chattrapati")

<class 'function'>
HELLO! Chattrapati shivaji Maharaj

In [ ]:
def name(*name):
  print(type(name))
  print("Hello!",name[0],name[1],name[2])
name("Subhash","Chandra","Bose")

<class 'tuple'>
Hello! Subhash Chandra Bose

Keyword arbitrary arguments.

In [ ]:
def name(**name):
  print(type(name))
  print("Hello!",name["fname"],name["mname"],name["lname"])
name(mname = "Abdul",fname = "APJ",lname = "Kalam")

<class 'dict'>
Hello! APJ Abdul Kalam

In [ ]:
i = 0
while True:
  print(i)
  i = i+1
  if(i%50==0):
    break
  if(i==45):
    continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

#**Questions**#

In [ ]:
def fun(n,l=[]):
  for i in range(n):
    l.append(i*i)
  print(l)
fun(2)

[0, 1]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
i =1
while True:
  if i%9==0:
    break
  print(i+4)
  i +=2

5
7
9
11

In [ ]:
a = 'internshala'
print(len(a))
for i in range(len(a)):
  print(a)
  # a = 'z'

11
internshala
internshala
internshala
internshala
internshala
internshala
internshala
internshala
internshala
internshala
internshala

#**Wap to check whether the number is greater than 50 or not and if greater then check whether it is even or not also check the same for odd number too.**#

In [ ]:
# num = 55
# if num > 50 :
#   print("The number is greater than 50.")
# else:
#   print("The number is smaller than 50")
num = 55
if num>50:
   if num %2==0:
    print("The number is greater than 50 and is even.")
   else:
    print("The number is greater but not even.")
else:
   if num %2!=0:
    print("The number is less than 50 and is odd.")
   else:
    print("The number is less than 50 but not odd.")

The number is greater but not even.

In [ ]:
def fun(x,y):
  if x>y:
    return x
  elif x==y:
    return x,y
  else:
    return y
print(fun(20,30))

30

#**Finding out number of combination using simple method and then using functions**#

In [ ]:
n =10
r =6

fact_n =1
for i in range(1,n+1):
  fact_n = fact_n*i

fact_r =1
for i in range(1,r+1):
  fact_r = fact_r*i

fact_n_r =1
for i in range(1,(n-r)+1):
  fact_n_r = fact_n_r*i

result = fact_n/(fact_r * (fact_n_r))
print("Number of combination:",result)

Number of combination: 210.0

*Using function*

In [ ]:
#NOW USING FUNCTION
def factorial(para):
  fact = 1
  for i in range(1,para + 1):
    fact = fact * i
  return fact #Intendation should be followed to get the desired output.
n = 10
r = 6
result = factorial(n)/(factorial(r)*(factorial(n-r)))
print("Number of combination",result)

Number of combination 210.0

#**List in Python**#

In [ ]:
l = [2,3,4,45,34,'college','school','industry',34]

print(l) #1st method of printing list.

print(l[:]) #consider index 0 on the left side of the colon. And prints the whole list.

print(l[0:9]) #slicing.

print(len(l)) #Finds out the size of list.

print(type(l))
#SINCE LISTS ARE MUTABLE IN NATURE WHICH MEANS WE CAN MODIFY IT.

l.append(23) #Modification.
print(l)

[2, 3, 4, 45, 34, 'college', 'school', 'industry', 34]
[2, 3, 4, 45, 34, 'college', 'school', 'industry', 34]
[2, 3, 4, 45, 34, 'college', 'school', 'industry', 34]
9
<class 'list'>
[2, 3, 4, 45, 34, 'college', 'school', 'industry', 34, 23]

*Negative Indexing.*

In [ ]:
print(l[:])
print(len(l))
print(l[0:-3])
print(l[1:-3])
print(l[-6:-3]) #Negative Indexing.

print(l[len(l)-6:len(l)-3]) #Easier representation.

print(l[4:7])  #Conversion into Positive Indexing.

[2, 3, 4, 45, 34, 'college', 'school', 'industry', 34, 23]
10
[2, 3, 4, 45, 34, 'college', 'school']
[3, 4, 45, 34, 'college', 'school']
[34, 'college', 'school']
[34, 'college', 'school']
[34, 'college', 'school']

*CHECKING ELEMENTS IN A LIST.*

In [ ]:
#CONSIDERING THE SAME LIST GIVEN AVB.
if 3 in l:      #This is how we can easily check whether the element is present in the list or  not.
  print("Yes")
else:
  print("No")


if 7 in l:
  print('Yes')
else:
  print('No')

if 'school' in l:  #Same appraoch is used in string element as well.
  print('Yes')
else:
  print('No')

if 'chool' in 'school':
  print('yes')
else:
  print('No')

if 'chol' in 'school':
  print('yes')
else:
  print('No')

Yes
No
Yes
yes
No

**JumpIndexing in list**

In [ ]:
list = [23,54,'DataScience','MachineLearning',34,56,77,88,44,98]
print(list)
print(len(list))
print(list[0:9:2])
print(list[0:10:5]) #Using the 3rd block of slicing brackets we can jumpover the certain numbers through which we wish to.

[23, 54, 'DataScience', 'MachineLearning', 34, 56, 77, 88, 44, 98]
10
[23, 'DataScience', 34, 77, 44]
[23, 56]

#**List Comprehension**#

In [ ]:
#LIST COMPREHENSION
lst = [i for i in range(4)]
print(lst)

list = [i*i for i in range(10)] #Here the seq is till 10 excluding 10. and the squares of the numbers are printed.
print(list[1:])

list1 = [i*i for i in range(10) if i%2==0 ]
print(list1)
print(list1[1:]) #list slicing is used to initiate from the 1st index.

[0, 1, 2, 3]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]
[4, 16, 36, 64]

**List Manipulation Methods**

In [ ]:
a = [1,332,443,34,23,1,8]
print(len(a))
print(a)

a.append(65)  #Adds an element in the list.

print(a)

a.sort()  #Used to sort the elements in a list.

print(a)

a.sort(reverse= True ) #Sort the list in descending order.

print(a)

a.reverse()  #reverses the elements of the list

print(a)

#As the operations are held in a list the updation takes place on each operation.


print(a.index(332)) #Tells about the index no of the particular value.

print(a.index(8))

print(a.count(1)) #calculates the freq of the element in a list.
#SUPPOSE A NEW LIST.

# m = a
# m[0] = 0  #This changes the element of list a too.
# print(a)

m = a.copy() #generated a copy of the list.

print(m)

a.insert(5,566) #inserts 566 to the 5th index and shifts the other towards right side.

print(a)

list1 = [400,5000,6500]

a.extend(list1)  #This adds the elements of new list in the earlier list.

print(a)

7
[1, 332, 443, 34, 23, 1, 8]
[1, 332, 443, 34, 23, 1, 8, 65]
[1, 1, 8, 23, 34, 65, 332, 443]
[443, 332, 65, 34, 23, 8, 1, 1]
[1, 1, 8, 23, 34, 65, 332, 443]
6
2
2
[1, 1, 8, 23, 34, 65, 332, 443]
[1, 1, 8, 23, 34, 566, 65, 332, 443]
[1, 1, 8, 23, 34, 566, 65, 332, 443, 400, 5000, 6500]

**List Concatenation**

In [ ]:
m = a + list1
print(m)
#THIS IS HOW LIST CONCATENATION IS DONE.

[1, 1, 8, 23, 34, 566, 65, 332, 443, 400, 5000, 6500, 400, 5000, 6500]

#**Tuples**#
**Tuples are similar to list.The only difference is that tuples are non-mutable.**

In [ ]:
t = (1,2,43,54,655,66,'orange','mango')
tup = (2)
print(type(tup))
print(type(t))
print(t)
print(len(t))

#Slicing in tuple
print(t[:])
print(t[0:5])

print(t[len(t)-3:len(t)-1])
print(t[-3:-1])

#Checking
if 655 in t:
  print("yes")
else:
  print("no")

if 55 in t:
  print("yes")
else:
  print("no")

<class 'int'>
<class 'tuple'>
(1, 2, 43, 54, 655, 66, 'orange', 'mango')
8
(1, 2, 43, 54, 655, 66, 'orange', 'mango')
(1, 2, 43, 54, 655)
(66, 'orange')
(66, 'orange')
yes
no

**Methods in tuple**

->Tuple are immutable in nature.So, if we want to modify them there is only one way (i.e indirect) to do so and that is copying the elements of tuple in the list and then modify it.

In [ ]:
fruits = ('Mango','Banana','Litchi','Guava')
temp = list(fruits)
#Since, the tuple is converted into list.Hence, all the operations of the list can be performed here.
print(temp)
temp.append(34)
temp.append('Grapes')
print(temp)
temp.pop(3) #The element in index number 3 is removed from the list.
print(temp)
temp[2] = 'Dolphin'
print(temp)

['Mango', 'Banana', 'Litchi', 'Guava']
['Mango', 'Banana', 'Litchi', 'Guava', 34, 'Grapes']
['Mango', 'Banana', 'Litchi', 34, 'Grapes']
['Mango', 'Banana', 'Dolphin', 34, 'Grapes']

**Sorting list using loops**